<!DOCTYYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Lagom</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="bower_components/angular-toasty/dist/angular-toasty.min.css" rel='stylesheet' type="text/css"> 
<link href="bower_components/angular-loading-bar/build/loading-bar.min.css" rel='stylesheet' type="text/css"> 
<link href="bower_components/normalize.css/normalize.css" rel='stylesheet' type="text/css">
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type="text/css">
<link href="styles/main.css" rel="stylesheet" type="text/css">
<link href="styles/home.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="lagom">
	<header class="container-fluid">
		<div class="row">
		  <a href="#/home">
		  	<div class="col-xs-2 col-md-1">
		  		Front
		  	</div>
		  </a>
		  <a href="#/social">
		  	<div class="col-xs-2 col-md-1">
		  		Topics
		  	</div>
		  </a>
		  <a href="#/contact">
		  	<div class="col-xs-2 col-md-1">
		  		Contact
		  	</div>
		  </a>
		  <div class="col-xs-4 col-md-8"></div>
		  <div class="col-xs-2 col-md-1 left">
		  </div>		  
		</div>
	</header>
	<!-- Dynamic Views -->
	<div ng-view class="view-animate"></div>
	<!-- Login Content -->
	<div ng-controller="loginCtrl as vm">
		<div id="login-container" class="login-container hidden" off-click="vm.active = false" ng-click="vm.active = !vm.active">
			<form>
				<div class="form-group" ng-show="vm.loggedInUser == null">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user" hasError={{vm.hasError}}></span></span>
					  <input type="text" class="form-control input-sm" ng-model="vm.username" placeholder="Username" hasError={{vm.hasError}}>
					</div>
					<div class="input-group">
					  	<span class="input-group-addon"><span class="glyphicon glyphicon-lock" hasError={{vm.hasError}}></span></span>
					  	<input type="password" class="form-control input-sm" ng-model="vm.password" placeholder="Password">
					</div>
					<input type="submit" ng-click="vm.login()" class="btn btn-default btn-sm" value="Log In"/>
					<button type="submit" ng-click="vm.openRegisterModal()"	class="btn btn-default btn-sm">Register</button>
				</div>
			</form>	
			<div class="form-group" ng-show="vm.loggedInUser != null">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				  	<input type="text" class="form-control input-sm" disabled="disabled" ng-model="vm.loggedInUser" aria-describedby="basic-addon1">
				</div>
				<button type="submit" ng-click="vm.logout()" class="btn btn-default btn-sm">Logout</button>
				<span class="settings glyphicon glyphicon-cog pointer" ng-click="vm.openModal();"></span>
			</div>
		</div>	
	</div>
	<!-- End Login Content -->
	<toasty></toasty>
</body>
<script type="text/javascript" src="dist/all.js"></script>
<!-- Modal Change Password -->
<script type="text/ng-template" id="updatePasswordModal.html">
	<div class="modal-header">
	    <h4 class="modal-title">Update Credentials</h4>
	</div>
	<form class="form-horizontal" id="updatePasswordForm" ng-submit="vm.changePassword(vm.passwords)">
		<div class="modal-body">
			<div class="form-group">
				<input ng-model="vm.passwords.currentPassword" type="password" class="form-control input-sm" placeholder="current password" ng-class="{'has-error': vm.passwords.errors.currentPassword}">
				<input ng-model="vm.passwords.newPassword" type="password" class="form-control input-sm" placeholder="new password" ng-class="{'has-error': vm.passwords.errors.newPassword}">
				<input ng-model="vm.passwords.verifyPassword" type="password" class="form-control input-sm" placeholder="verify new password" ng-class="{'has-error': vm.passwords.errors.verifyPassword}">
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default btn-sm" type="submit">Submit</button>
			<button class="btn btn-default btn-sm" type="button" ng-click="vm.close()">Cancel</button>
		</div>			
	</form>
</script>
<!-- /Modal Change Password -->
<!-- Modal Register -->
<script type="text/ng-template" id="registerModal.html">
	<div class="modal-header">
		<h4 class="modal-title">Register</h4>
	</div>
	<form class="form-horizontal" id="registerForm" ng-submit="vm.register(vm.user)">
		<div class="modal-body">
			<div class="form-group">
				<input ng-model="vm.user.username" type="text" class="form-control input-sm" placeholder="choose a username" ng-class="{'has-error': vm.user.errors.username}">
				<input ng-model="vm.user.password" type="password" class="form-control input-sm" placeholder="password" ng-class="{'has-error': vm.user.errors.password}">
				<input ng-model="vm.user.verifyPassword" type="password" class="form-control input-sm" placeholder="verify password" ng-class="{'has-error': vm.user.errors.verifyPassword}">
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default btn-sm" type="submit">Submit</button>
			<button class="btn btn-default btn-sm" type="button" ng-click="vm.close()">Cancel</button>
		</div>
	</form>
</script>
<!-- /Modal Register -->
</html>
