<div class="contact component">
	<form ng-submit="contact.submit()">
		<div class="form-group" ng-class="{ 'has-error': contact.errors.name }">
			<label for="name">Your name</label>
			<input type="text" ng-model="contact.name" class="form-control" placeholder="John Doe">
		</div>
		<div class="form-group" ng-class="{ 'has-error': contact.errors.email }">
			<label for="email">Contact info</label>
			<input type="text" ng-model="contact.email" class="form-control" placeholder="johndoe@gmail.com">
		</div>
		<div class="form-group" ng-class="{ 'has-error': contact.errors.message }">
			<label for="message">Message</label>
			<textarea ng-model="contact.message" class="form-control" rows="5"></textarea>
		</div>
		<button type="submit" class="btn btn-default right">Submit</button>
	</form>
	<!-- Modal -->
	<script type="text/ng-template" id="contactUsModal.html">
		<div class="modal-header">
		    <h4 class="modal-title">Contact Us</h4>
		</div>
		<div class="modal-body">
			<p>Thank you, your message has been sent!</p>
		</div>
	</script>
</div>