<div class="responses component">
	<table class="table table-striped social conversation">
		<thead>
			<tr class="table-no-hover">
				<th colspan="2">
					{{conversation.topicName}}
					<span class="icons">
						<span class="hover" loader color="#fff" on-load-callback="conversation.back()"></span>
						<span
							uib-popover-template="conversation.templateUrl"
							class="glyphicon glyphicon-lock pointer"
							popover-is-open="conversation.showPopOver()"
							ng-click="conversation.togglePopOver()"
							popover-trigger="outsideClick : outsideClick"
							popover-placement="bottom-right"
							ng-show="conversation.showLock()">
						</span>
						<span
							class="glyphicon glyphicon-trash pointer"
							ng-click="conversation.openModal()"
							ng-show="conversation.showTrash()">
						</span>
					</span>
				</th>
			</tr>
		</thead>
		<tbody ng-repeat="message in conversation.conversation" ng-mousemove="conversation.xxx($event, $index)">
			<tr class="response-header">
				<td class="header">{{message.author}}</td>
				<td class="header">
					<div>
						<!-- SAVE BUTTON -->
						<span class="hover"
							small
							loader
							color="#408800"
							disabled="!conversation.isEditMode($index)"
							ng-class="{'disabled': !conversation.isEditMode($index)}"
							on-load-callback="conversation.save($index, message._id)"
							ng-show="conversation.isEditable($index, message.author)">
						</span>
						<!-- EDIT BUTTON -->
						<span class="hover"
							small
							loader
							color="#FFC300"
							ng-class="{'disabled': conversation.isEditMode($index) || conversation.editMode != null}"
							on-load-callback="conversation.edit($index, message._id)"
							ng-show="conversation.isEditable($index, message.author)">
						</span>
						<!-- DELETE BUTTON -->
						<span class="hover"
							small
							loader
							color="#C70039"
							timer="5000"
							ng-class="{'disabled': conversation.editMode != null}"
							on-load-callback="conversation.deletePost(message._id)"
							ng-show="conversation.isDeletable($index, message.author)">
						</span>
						<span>posted {{message.date | relativeDate}}</span>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="message" ng-bind-html="message.response" ng-show="!conversation.isEditMode($index)"></div>
					<textarea class="message" ng-model="conversation.editContent" ng-show="conversation.isEditMode($index)"></textarea>
					<span class="message-updated" ng-show="message.lastUpdate">Updated {{message.lastUpdate | relativeDate}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="newResponse component" ng-show="conversation.isLoggedIn">
	<form>
		<div class="form-group">
			<textarea class="form-control" ng-model="conversation.responseContent" rows="3"></textarea>
		</div>
		<button type="submit" ng-click="conversation.respond(conversation.topicId)" class="btn btn-default right">Reply</button>
	</form>
</div>

<!-- Modal -->
<script type="text/ng-template" id="deleteTopicModal.html">
	<div class="modal-header">
	    <h4 class="modal-title">Delete Topic</h4>
	</div>
	<div class="modal-body" id="deleteTopicModal">
		<!-- <p> -->
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span style="vertical-align:super;">Delete Topic? There's no going back!</span>
		<!-- </p> -->
	</div>
  <div class="modal-footer">
      <button class="btn btn-danger" type="button" ng-click="conversation.removeTopic()">OK</button>
      <button class="btn btn-default" type="button" ng-click="conversation.modalInstance.close()">Cancel</button>
  </div>
</script>
