<div class="corner-ribbon sticky red shadow">Beta</div>
<div class="home">
	<div class="module module-1">
		<div class="content">
			<h1>Lagom</h1>
		</div>
	</div>
	<div class="module module-2">
		<div class="text-content">
			<h2>Public & Private Discussions</h2>
			<h3>A hobby site for private and public discussions. Careful, robots at play.</h3>
		</div>
	</div>
	<div class="module module-3">
		<div class="content">
		</div>
	</div>
</div>
