<!-- Topics -->
<div class="topics component">
	<table class="table table-striped social">
		<thead>
			<tr class="table-no-hover">
				<th width="5%">
					<span ng-show="social.isLoggedIn && !social.showNewTopicDialogue"
						ng-click="social.toggleTopicDialogue()"
						class="clickable glyphicon glyphicon-edit"></span>
				</th>
				<th width="50%">Subject</th>
				<th class="author">Author</th>
				<th class="timestamp-created">Created</th>
				<th class="timestamp-updated">Updated</th>
			</tr>
		</thead>
		<tr ng-repeat="topic in social.topics | orderBy: '-lastUpdate'">
			<td>
				<div class="hover"
				color="#0bb3f2"
				control="social.temp[$index]"
				loader on-load-callback="social.redirect(topic._id, topic.name)"></div>
			</td>
			<td>
				<span ng-mouseenter="social.temp[$index].hoverIn()"
					ng-mouseleave="social.temp[$index].hoverOut()"
					ng-click="social.redirect(topic._id, topic.name)"
					class="hover">
						{{topic.name}}
				</span>
			</td>
			<td class="author">
				<span>
					{{topic.author}}
				</span>
			</td>
			<td class="timestamp-created">
				<span>
					{{topic.date | relativeDate}}
				</span>
			</td>
			<td class="timestamp-updated">
				<span>
					{{topic.lastUpdate | relativeDate}}
				</span>
			</td>
		</tr>
	</table>
	<!-- /Topics -->
	<!-- Create new thread -->
	<button ng-show="social.isLoggedIn && !social.showNewTopicDialogue"
		type="submit"
		ng-click="social.toggleTopicDialogue()"
		class="btn btn-default right">
			New Thread
	</button>
</div>
<!-- NEW THREAD -->
<div ng-show="social.isLoggedIn && social.showNewTopicDialogue" class="newTopic component">
	<form>
		<div class="form-group">
			<label for="topic">Topic</label>
			<input tabindex="1" type="text" ng-model="social.topicName" class="form-control">
		</div>
		<div class="form-group">
			<label for="message">Content</label>
			<textarea tabindex="2" class="form-control" ng-model="social.topicContent" rows="3"></textarea>
		</div>
		<button type="submit" ng-click="social.submitTopic();" tabindex="3" class="btn btn-default right">Submit</button>
		<button ng-click="social.cancel()" class="btn btn-default right" tabindex="4" style="margin-left:0;">Cancel</button>
		<div class="switch" on="social.privateTopic"></div>
	</form>
</div>
<!-- /New Thread -->
