<div ng-show="topicAuthor == username" class="input-group">
	<form style="display:inherit;">
		<span class="input-group-btn">
			<button class="btn btn-default" ng-click="conversation.addUser(conversation.privateUser); conversation.privateUser=null">Add</button>
		</span>
		<input type="text" class="form-control" ng-model="conversation.privateUser" placeholder="Username">
	</form>	
</div>
<div>
	<table class="table">
	  <tbody>
	    <tr ng-repeat="user in conversation.privateUsers">
	      <td>{{user}}</td>
	      <td>
	      	<span ng-show="conversation.topicAuthor == conversation.username" class="exit glyphicon glyphicon-remove pointer" ng-click="conversation.removeUser($index)"></span>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>