<svg
	class="uil-ring-alt hover"
	height='26px'
	ng-mouseenter="internalControl.hoverIn()"
	ng-mouseleave="internalControl.hoverOut()"
	preserveaspectratio="xMidYMid"
	viewbox="0 0 100 100"
	width='26px'
	style="padding: 3px; vertical-align: bottom;"
	xmlns="http://www.w3.org/2000/svg">
		<circle
			stroke-opacity="0"
			ng-attr-cx="{{circle.cx}}"
			ng-attr-cy="{{circle.cy}}"
			fill-opacity="0"
			ng-attr-r="{{circle.r-10}}"
			stroke="{{circle.stroke}}"
			stroke-linecap="round" stroke-width="20">
		</circle>
		<circle
			ng-attr-cx="{{circle.cx}}"
			ng-attr-cy="{{circle.cy}}"
			fill="none"
			ng-attr-r="{{circle.r}}"
			stroke-opacity="{{circle.opacity}}"
			stroke="{{circle.stroke}}"
			stroke-linecap="round"
			stroke-width="8">
	    	<animate ng-if="animate" attributename="stroke-dashoffset" dur="1s" from="0"
	    		repeatcount="indefinite" to="502"></animate>
	    	<animate ng-if="animate" attributename="stroke-dasharray" dur="1s" repeatcount="indefinite"
	    	values="251 0;1 250;251 0"></animate>
			</circle>
</svg>
