<div>
	<div ng-click="toggle()" class="switch-container">
		<span>Public</span>
		<span>&nbsp</span>
		<span>Private</span>
	</div>

<style>
.switch {
	box-sizing: content-box;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 75px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
}
.switch[active] .switch-container {
	transform: translateX(-60px);	
}
.switch .switch-container {
	font-size: 0; /* remove spacing between spans */
	-webkit-transition: .5s; /* Safari */
	transition: .5s;	
}
.switch .switch-container span {
	padding: 6px 10px;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.switch .switch-container span:first-child {
	width: 60px;
	background-color: #e9ebee;
}
.switch .switch-container span:nth-child(2n) {
	width: 15px;
	padding: 0;
	background-color: #fff;
}
.switch .switch-container span:nth-child(3n) {
	width: 60px;
	background-color: #d9534f;
	color: #fff;
}
</style>
</div>