@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.home {
  margin-top: -6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home h1 {
  font-size: 40px;
}
.home h2 {
  font-size: 21px;
}
.home h3 {
  font-size: 18px;
}
.home h1,
.home h2,
.home h3 {
  margin: 0 0;
}
.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 1rem;
}
.text-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 1rem;
}
.home .module h1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 200px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.home .module h2 {
  line-height: 3.8;
}
.home .module h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
.home .module-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../images/image-1.jpg");
}
.home .module-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  padding: 80px 0;
}
.home .module-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../images/image-2.jpg");
  padding: 80px 0;
}
.home .module-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  padding: 50px 0;
}
.home .module-4 span {
  line-height: 3;
}
/* When screen width is larger than 860 */
@media all and (min-width: 860px) {
  .home .module h1 {
    font-size: 96px;
  }
  .home .module h2 {
    font-size: 24px;
    line-height: 2.8;
  }
}

@media all and (min-height: 650px) {
  .home .module {
    height: 50%;
  }
}

div.badges {
  height: 27px;
  padding-left: 1rem;
  padding-right: 1rem;
}
div.badges img {
  height: 25px;
}

footer {
  bottom: 0;
  margin-top: -30px;
  min-height: 30px;
  max-height: 30px;
  overflow: hidden;
}
