/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@font-face {
	font-family: sunn;
	src: url(font/texgyrepagella-regular.otf);
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	background-color: #e9ebee;
}
header {
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	z-index: 600;
	top: 0;
	width: 100%;
}
header a {
	color: inherit;
	text-decoration: inherit;
}
header .row div {
	max-height: 4rem;
	line-height: 4rem;
	text-align: center;
	border-right: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
header .row div.left {
	border-left: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
label {
	font-weight: 500;
}
.hidden {
	display: none;
}
.clickable {
	cursor: pointer;
}
.front {
	background-color: #fff;
	text-align: center;
}
.front h2 {
	margin-bottom: 1em;
}
.component {
	background-color: #fff;
	font-family: serif;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	margin-bottom: 1rem;
	padding: 2rem;
}
.component > .glyphicon {
	float: right;
	margin-top: -1rem;
	margin-right: -1rem;
	opacity: .5;
}
.component > .glyphicon:hover {
	cursor: pointer;
}
.modal-dialog .form-group {
	margin: 5px 0;
}
#registerForm input,
#updatePasswordForm input {
	margin-bottom: 10px;
}
button.right {
	float: right;
	margin: 1rem;
}
.img-thumbnail {
	display: block;
	margin: .7em;
}
.right {
	float: right;
}
.left {
	float: left;
}
.pointer {
	cursor: pointer;
}
.message:read-write:focus {
	outline: none;
}

textarea.message {
	-webkit-box-shadow: -5px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: -5px 5px 10px rgba(0,0,0,.3);
	box-shadow: -5px 5px 10px rgba(0,0,0,.3);
	width: 100%;
	height: 15rem;
	z-index: 10;
	background-color: rgb(255,255,180);
	border: none;
	resize: vertical;
	overflow-y: visible;
}

/* MODAL */
.modal-content {
	border-radius: 0 !important;
}
.modal-backdrop {
  bottom: 0;
  position: fixed;
}
.modal-content label,
.modal-content .glyphicon-remove {
	font-weight: normal;
	line-height: 3rem;
}
.modal-content form {
	padding: 0;
	margin: 0;
}
.modal-content .modal-body {
	padding: 2rem;
}
body.modal-open div[ng-view],
body.modal-open header,
body.modal-open .login-container {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
/* NG-View */
div[ng-view] {
	padding-top: 6rem;
}
.view-animate.ng-enter {
  transition: all linear 500ms;
  opacity: 0;
}
.view-animate.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave {}
.view-animate.ng-leave-active {}

/* TABLE */
table tr.table-no-hover:hover {
	background-color: transparent;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border-top: none;
}

/* LOGIN */
@media only screen and (max-width: 475px) {
	div.login-container {
		display: none;
	}
	header .row div {
		border: none;
	}
}
div.login-container {
	background-color: rgba(255, 255, 255, 1);
	border-color: rgba(38,154,188, .8);
	border: 1px solid transparent;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	top: -130px;
	height: 155px;
	width: 250px;
	padding: 1em;
	position: fixed;
	z-index: 1030;
	right: 1em;
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,.5);
	box-shadow: 0 2px 15px rgba(0,0,0,.5);
	-webkit-transition: 900ms;
	transition: 900ms;
}
div.login-container:hover {
	top: 0;
}
div.login-container.active {
	top: 0;
}
div.login-container .input-group,
div.login-container button
div.login-container input {
	margin: 5px;
}
div.login-container button,
div.login-container input {
	float: right;
	margin-right: 1em;
}

span.glyphicon-cog {
	float: right;
	margin: 0 1em;
	line-height: 2.2;
	transition-duration: 2s;
}

span.glyphicon-cog:hover {
	transform: rotate(360deg);
}

/* SOCIAL */
table .hidden {
	display: none;
}
thead tr th {
	font-weight: normal;
}
th span.glyphicon {
	font-weight: normal;
	line-height: inherit;
}
span.hover, svg.hover {
	cursor: pointer;
}

table.social > thead > tr > th {
	background-color: #475055;
	color: #fff;
	border: none;
}

@media only screen and (max-width: 735px) {
	table.social .timestamp-created {
		display:none;
		width:0;
		height:0;
		opacity:0;
		visibility: collapse;
	}
}

@media only screen and (max-width: 475px) {
	table.social .author {
		display:none;
		width:0;
		height:0;
		opacity:0;
		visibility: collapse;
	}
}

div.topics,
div.contact,
div.responses,
div.error {
	width: 95%;
	/*margin-top: 6rem;*/
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div.newTopic,
div.newResponse {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div.newTopic .switch {
	float: right;
	margin: 1rem 2rem 1rem 1rem;
}

/* Conversation */
table.conversation {
	table-layout: fixed;
}
table.conversation td {
	overflow-wrap: break-word;
}
table.conversation td.header {
	padding: 3px;
}
table.conversation .response-header td + td {
	text-align: right;
}
table.conversation div.message,
textarea.message {
	white-space: pre-wrap;
	padding-bottom: 1em;
	font-size: 90%;
}
table.conversation .message-updated {
	font-size: 70%;
	float: right;
	opacity: .4;
}
table.conversation > thead > tr > th {
	background-color: #475055;
	color: #fff;
	border: none;
}
table.conversation > thead > tr > th > span.icons {
	float: right;
}
table.conversation > thead > tr > th > span.icons span {
	margin: 0 0 0 .5rem;
	font-size: 1.4rem;
}
.text-right {
    text-align: right;
}
.popover {
	font-family: inherit;
}
.popover-content {
	min-width: 24.7rem;
}
.popover-content div.input-group {
	max-width: 22rem;
}
.popover table {
	height: 100%;
	overflow-y: auto;
	font-size: 1.3rem;
}
.popover table .exit {
	float: right;
}
.popover table tr:first-child td {
    border: none;
}
/*  Error handling */
input[hasError=true] + span {
	color: red;
	margin-left: -1rem;
	cursor: default;
	display: inline;
}
input[hasError=false] + span {
	display: none;
}
span.input-group-addon span[hasError=true] {
	color: red;
}
/* Bootstrap bug fix */
div.popover {
	-ms-transform: translate(10px); /* IE 9 */
	-webkit-transform: translate(10px); /* Chrome, Safari, Opera */
	transform: translate(10px);
}
div.popover .input-group input {
	border-left: none;
}

#deleteTopicModal .glyphicon-ban-circle {
	font-size: 1.5em;
	margin-right: .5em;
	color: #d9534f;
}

/* CORNER RIBBON */
.corner-ribbon {
  bottom: 25px;
  right: -50px;
  width: 200px;
  background: #e43;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon.sticky {
  position: fixed;
  z-index: 999;
}
.corner-ribbon.shadow {
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* FIX BOOTSTRAP BORDER OVERLAP ERROR IN SAFARI */
span.input-group-btn {
	z-index: 3;
}
/* BOOTSTRAP ERROR */
.has-error .form-control,
input.has-error {
	border-color: rgba(241, 67, 42, .5);
}
.has-error .form-control:focus,
input.has-error:focus {
	border-color: rgba(241, 67, 42, .5);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 67, 42, .5);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 67, 42, .5);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 67, 42, .5);
}

/* Error Page */
div.error .center {
	text-align: center;
}
div.error h4 {
	color: rgb(255, 0, 0);
	line-height: 2;
}

.disabled {
	opacity: 0;
}
